# Dev
__dev/

# macOS
.DS_Store

# VS Code
.vscode/
*.code-workspace

# Zed
.zed/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info/

# Distribution / Build
dist/
build/

# Virtual environments
.venv/

# Tool caches
.ruff_cache/
.pytest_cache/
.mypy_cache/
.ty_cache/

# Coverage
.coverage
htmlcov/

# Docs output
site/

# custom docs building
build-docs.sh
